<div id="<%= dom_id capsule %>">
  <p>
    <strong>Charity:</strong>
    <%= capsule.charity_id %>
  </p>

  <p>
    <strong>Need:</strong>
    <%= capsule.need_id %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= capsule.video %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= capsule.quote %>
  </p>

  <p>
    <strong>Poster:</strong>
    <%= capsule.poster %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= capsule.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= capsule.last_name %>
  </p>

</div>
