<article class="capsule">
    <%= link_to capsule do %>
        <div>
            <%= image_tag capsule.poster, loading: "lazy", alt:"", width:"285" unless capsule.poster.blank? %>
            <blockquote>
              <p>&ldquo;<%= capsule.quote %>&rdquo;</p>
            </blockquote>
        </div>
        <figcaption>
          <h3><%= capsule.first_name %></h3>
          <p>nous parle de <%= capsule.charity %></p>
        </figcaption>
    <% end %>
</article>
