
<%= simple_form_for(@capsule) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :charity %>
    <%= f.association :need %>
    <%= f.input :video %>
    <%= f.input :quote %>
    <%= f.input :poster %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
