<h1><%= @capsule %></h1>
<p>
  <%= @capsule.charity %>
</p>

<p>
  <%= link_to @capsule.need, @capsule.need %>
</p>

<p>
  <%= @capsule.video %>
</p>

<p>
  <%= @capsule.poster %>
</p>

<p>
  <%= @capsule.first_name %>
</p>

<p>
  <%= @capsule.last_name %>
</p>
