<h1><%= @capsule %></h1>
<p><%= @capsule.charity %></p>
<p><%= link_to @capsule.need, @capsule.need %></p>

<%= @capsule.video %>
<%= @capsule.poster %>

<p>
  <%= @capsule.first_name %>
  <%= @capsule.last_name %>
</p>
