<section class="media">
  <div class="background-black" style="padding:56.25% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/<%= @capsule.video %>?h=b260a3b1b0&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>

<section class="content">
  <blockquote><h2>&ldquo;<%= @capsule %>&ldquo;</h2></blockquote>
  <h1><%= @capsule.first_name %></h1>
  <% if @capsule.charity.logo %>
  <p>Nous parle de <%= image_tag(@capsule.charity.logo) %></p>
  <% else %>
  <p>Nous parle de <%= @capsule.charity %></p>
  <% end %>
</section>


<% if admin_signed_in? %>
<button class="btn"><%= link_to "Modifier la capsule", edit_capsule_path(@capsule) %></button>
<% else %>

<% end %>

<p><%= link_to "en savoir +", @capsule.charity %></p>
<script src="https://player.vimeo.com/api/player.js"></script>