 <nav class="footer__links" role="navigation" aria-label="Menu principal">
    <ul>
        <li><%= link_to "Accueil"%></li>
        <li><%= link_to "Les aides"%></li>
        <li><%= link_to "Qui sommes-nous ?"%></li>
        <li><%= link_to "Nos vidéos"%></li>
        <li><%= link_to "Contact" %></li>
    </ul>
 </nav>