<div class="row">
    <div class="offset-md-1 col-md-11">

        <section class="hero">
            <div class="hero__container">
                <div class="hero__content">
                    <div class="hero__text">
                        <p class="hero__text__hello">Hello!</p>
                        <h1 class="hero__text__title">
                          Chez <span class="font-logo">share&change</span>,
                          te faciliter la vie est notre priorité.
                        </h1>
                        <p>C’est pour cela que nous
                        nous engageons à trouver,
                        une solution à ton besoin,
                        sans avoir à passer par
                        quatre chemins.
                        </p>
                    </div>
                </div>
                <div class="hero__image">
                  <%= image_tag "jpg/desktop-header.jpg",
                                alt:"",
                                srcset:"/assets/jpeg@2x/desktop-header@2x.jpeg 2x" %>
                </div>
            </div>
        </section>

  </div>
  <div class="offset-md-1 col-md-10">

        <section class="last-testimonials home-title">
            <h2>Nos derniers témoignages</h2>
            <div class="capsules">
              <% @capsules.each do |capsule| %>
                <%= render capsule %>
              <% end %>
            </div>
            <%= link_to "Voir plus de témoignages", capsules_path %>
        </section>

        <section class="home-title">
            <h2>Chaque histoire mérite d’être partagée</h2>
            <p class="text-align-right">Nous apportons des solutions à chaque besoin.</p>
            <div>
              <% @needs.each do |need| %>
              <%= render need %>
              <% end %>
            </div>
        </section>

        <section class="home-title">
            <h2>Nous leur faisons confiance</h2>
            <p>Nous travaillons en étroite collaboration avec des associations, organisations et entreprises mettant en oeuvre des moyens pour accélérer et faciliter l’intégration des réfugiés à l’échelle régionale mais également nationale.</p>
            <div class="charities">
              <% @charities.each do |charity| %>
                <%= link_to charity do %>
                  <% if charity.logo %>
                    <%= image_tag(charity.logo, alt: charity) %>
                  <% else %>
                    <%= charity %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
        </section>

        <section>
            <h2>Envie de nous rejoindre ou de témoigner ?</h2>
            <p>Nous travaillons en étroite collaboration avec des associations, organisations et entreprises mettant en oeuvre des moyens pour accélérer et faciliter l’intégration des réfugiés à l’échelle régionale mais également nationale.</p>
        </section>

    </div>
</div>
