<div class="row">
    <div class="offset-md-1 col-md-11">
        <section class="hero">
            <div class="hero__container">
                <div class="hero__content">
                    <div class="hero__text">
                        <p class="hero__text__hello">Bienvenue!</p>
                        <h1 class="hero__text__title">
                        <span class="font-logo">Share&Change</span> : pour les immigrés par les immigrants.
                        </h1>
                        <p>Share&Change est une plateforme qui met en avant des témoignages vidéos de nouveaux arrivants racontant leur expérience vis-à-vis d’associations, d’entreprises, ou encore d’institutions qui leur sont venus en aide. 
                        </p>
                    </div>
                </div>
                <div class="hero__image">
                  <%= image_tag "jpg/desktop-header.jpg",
                                alt:"",
                                srcset:"/assets/jpg/desktop-header.jpg" %>
                </div>
            </div>
        </section>
  </div>
  <div class="offset-md-1 col-md-10">
        <section class="last-testimonials home-title">
            <h2>Nos derniers témoignages</h2>
            <div class="capsules">
              <% @capsules.each do |capsule| %>
                <%= render capsule %>
              <% end %>
              <% if admin_signed_in? %>
    <p class="link_page"><%= link_to "+ ajouter une vidéo", new_capsule_path(@capsule) %></p>
<% else %>
<% end %>
            </div>
        </section>
        <section class="home-title">
            <h2>Chaque histoire mérite d’être partagée</h2>
            <p>Nous apportons des solutions à chaque besoin.</p>
            <div>
              <% @needs.each do |need| %>
              <%= render need %>
              <% end %>
            </div>
        </section>

        <section class="home-title">
            <h2>Remerciement à ceux qui ont fait confiance à Share&Change !</h2>
            <p>Share&Change a pu voir le jour grâce à l’engagement de ses partenaires qui ont cru en ce projet ambitieux. Leur soutien ont permis à Share&Change de se développer et de pouvoir faciliter et accélérer l’intégration des nouveaux arrivants en France.</p>
            <div class="charities">
                <%= image_tag "png/namebay.png",
                alt:"",
                srcset:"/assets/png/namebay.png" %>
                <%= image_tag "png/Singa.png",
                alt:"",
                srcset:"/assets/png/Singa.png" %>
                <%= image_tag "png/Konexio.png",
                alt:"",
                srcset:"/assets/png/Konexio.png" %>
            </div>
        </section>
    </div>
</div>
