<div id="<%= dom_id charity %>">
  <p>
    <strong>Logo:</strong>
    <%= charity.logo %>
  </p>

  <p>
    <strong>Catchphrase:</strong>
    <%= charity.catchphrase %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= charity.description %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= charity.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= charity.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= charity.website %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= charity.adress %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= charity.zipcode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= charity.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= charity.country %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= charity.name %>
  </p>

</div>
