<div class="breadcrumb">
<%= render_breadcrumbs :separator => ' > ' %>
</div>

<h1>Les aides</h1>
<div class="all_charities">
<% @charities.each do |charity| %>
  <div class="charities_div">
    <div class="charities_div_wrapper">
      <%= link_to charity, charity, class:"charities_div_a" %>
      <p class="charities_div_p"><%= charity.catchphrase%></p>
    </div>
    <%= link_to charity, class:"charities_div_img" do %>
        <%= image_tag "svg/Vector.svg", class:"charities_div_img"  ,
        alt:"",
        srcset:"/assets/svg/Vector.svg" %>
    <% end %>
    </div>
  <% end %>
  <%= will_paginate @charities %>

</div>

<% if admin_signed_in? %>
    <p class="link_page"><%= link_to "+ ajouter une aide", new_charity_path(@charity) %></p>
<% else %>
<% end %>
