<% if @charity.logo %>
 <%= image_tag(@charity.logo) %>
 <% else %>
<% end %>

<h1><%= @charity %></h1>
<p><%= @charity.description%></p>


<address>
  <ul>
    <li>
  
      site :
      <a target="_blank" href="<%= @charity.website %>" title="site de Singa France - lien externe"><%= @charity.website %></a>
    </li>
    <li>
      téléphone :
      <a href="tel:<%= @charity.phone%>"><%= @charity.phone%></a>
    </li>
    <li>
      mail :
      <a href="mailto: <%=@charity.email%>"><%=@charity.email%></a>
    </li>
    <li>
      lieu : <%=@charity.adress%>, <%=@charity.zipcode%> <%=@charity.city%>
    </li>
  </ul>
</address>
<% @charity.capsules.each do |capsule| %>

  <%= render capsule %>
<% end %>
