<div class="breadcrumb">
<%= render_breadcrumbs :separator => ' > ' %>
</div>

<div class="charity_header">

  <h2 class="charity_header__title"><%= @charity %></h2>
    <div class="charity-logo">
    <%= image_tag @charity.logo.url %>
  </div>

</div>
<p><%= @charity.description%></p>


<address>
  <ul>

    <% if @charity.website %>
    <li>
      site :
      <a target="_blank" href="<%= @charity.website %>"><%= @charity.website %></a>
    </li>
    <% else %>
    <% end %>

    <%if @charity.phone %>
    <li>
      téléphone :
      <a href="tel:<%= @charity.phone%>"><%= @charity.phone%></a>
    </li>
    <% else %>
    <% end %>

    <%if @charity.email %>
    <li>
      mail :
      <a href="mailto: <%=@charity.email%>"><%=@charity.email%></a>
    </li>
    <% else %>
    <% end %>

     <%if @charity.adress %>
    <li>
      lieu : <%=@charity.adress%>, <%=@charity.zipcode%> <%=@charity.city%>
    </li>
     <% else %>
    <% end %>
    
  </ul>
</address>

<%if @charity.capsules %>
<p class="title_link_capsule">Ils en parlent aussi</p>
<div class="capsules">
<% @charity.capsules.each do |capsule| %>
  <%= render capsule %>
<% end %>
</div>
<% else %>
<% end %>
<% if admin_signed_in? %>
<button class="btn"><%= link_to "Modifier les informations", edit_charity_path(@charity) %></button>
<% else %>
<% end %>
