<footer class="footer" role="contentinfo">
    <div class="footer__container">
        <%= image_tag("logo-white.svg", alt: "logo share and change en blanc", class:"logo footer__logo")%>
        <div class="footer__wrapper">
            <%= render 'nav'%>
            <% if admin_signed_in? %>
<%= link_to "Déconnexion", destroy_admin_session_path, method: :delete, class:"logout_link" %>
<% end %>

        </div>
        <!-- CGU  / Mention Legale -->

        <!-- renommer rights / bottom-->
        <div class="footer__rights">
            <span class="footer__rights__links">
                <%= link_to "Mentions légales", mentions_legales_path %>
            </span>
            <span class="footer__rights__links">
                <p>©2023 share&change,<br/>
                Tous droits réservés.
                </p>
            </span>
            <span class="footer__rights__links">
                <%= link_to "CGU", cgu_path %>
            </span>
        </div>
    </div>
</footer>
