<footer class="footer" role="contentinfo">
    <div class="footer__container">
        <%= image_tag("logo-white.svg", alt: "logo share and change en blanc", class:"logo footer__logo")%>
        <div class="footer__wrapper">
            <div class="footer__wrapper__left">
                <%= render 'nav'%>
                <% if admin_signed_in? %>
                    <%= link_to "Déconnexion", destroy_admin_session_path, method: :delete, class:"logout_link" %>
                <% end %>
            </div>
            <div class="footer__wrapper__right">
            <p>En collaboration avec </p>
            <div class="footer__wrapper__right__image">
                    <%= image_tag("png/namebay_white.png", alt: "namebay logo")%>
                    <%= image_tag("png/universite.png", alt: "univerisité Bordeaux Montaigne Logo")%>
                    <%= image_tag("png/mmi.png", alt: "Bachelor Métiers du Multimedia & de l'Internet Logo")%>

</div>
            </div>

        </div>

        <!-- CGU  / Mention Legale -->

        <!-- renommer rights / bottom-->
        <div class="footer__rights">
            <span class="footer__rights__links">
                <%= link_to "Mentions légales", mentions_legales_path %>
            </span>
            <span class="footer__rights__links">
                <p>©2023 share&change,<br/>
                Tous droits réservés.
                </p>
            </span>
            <span class="footer__rights__links">
                <%= link_to "CGU", cgu_path %>
            </span>
        </div>
    </div>
</footer>
