 <nav role="navigation" aria-label="Menu principal">
    <ul>
        <li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Toutes les aides", charities_path %></li>
        <li><%= link_to "Les témoignages", capsules_path %></li>
        <li><%= link_to "Qui sommes-nous ?", qui_sommes_nous_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
    </ul>
 </nav>
