<!DOCTYPE html>
<html>
  <head>
    <title>Shareandchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Work+Sans:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= render 'header' %>
    <main role="main" class="container">
      <%= yield %>
    </main>
    <%= render 'footer' %>

  <%= javascript_include_tag("application") %>
  </body>
</html>
