<!DOCTYPE html>
<html>
  <head>
    <title>Shareandchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind-build", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <!-- npx tailwindcss -i app/assets/stylesheets/application.css -o app/assets/stylesheets/tailwind-build.css -->
  <body>
    <%= render 'partials/header' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
